{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "lodash-modularize"
    ],
    "env": {
        "development": {
            "plugins": [
                "typecheck"
            ]
        }
    }
}
