.clearfix:after {
    display: table;
    clear: both;

    content: '';
}

.carousel {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel__body {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    transition: left .5s cubic-bezier(0, 1.12, .76, .99);
}

.carousel__cell,
.carousel__control-cell {
    font: 16px/22px 'helvetica-neue', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

    position: relative;
    z-index: 1;

    display: list-item;
    float: left;
    overflow: hidden;

    width: 60px;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    cursor: pointer;
    transition: visibility .2s linear .5s, opacity .3s linear;

    color: #adafb1;
    background: #303b41;
}

.carousel__cell,
.carousel__control-cell {
    background: #303b41;
}

.carousel__cell,
.carousel__control-cell {
    color:  #fff;
    background: #2e2e2e;
}

.carousel__cell--active {
    color:  #fff;
    background: #29a9d8;
}

.carousel__cell--active:hover {
    background: #0687a5;
}

.carousel__cell--active:active {
    background: #0687a5;
}

.carousel__control-cell {
    position: relative;

    display: block;

    width: 30px;
    margin: 0;
    padding: 0;

    color: #29a9d8;
}

.carousel__control-cell--previous {
    z-index: 2;

    margin-left: 0;
}

.carousel__control-cell__icon,
.control__control-cell__icon--next,
.control__control-cell__icon--previous {
    font-size: 20px;

    position: absolute;
    top: 40%;
    left: 30%;
}

.control__control-cell__icon--next {
    left: 35%;
}

.control__control-cell__icon--next:before {
    content: '〉';
}

.control__control-cell__icon--previous {
    left: 15%;
}

.control__control-cell__icon--previous:before {
    content: '〈';
}
