$color-white: #fff;
$color-cell: #adafb1;
$color-cell-bg: #303b41;
$color-active-cell-bg: #29a9d8;

.clearfix {
    &:after {
        display: table;
        clear: both;

        content: '';
    }
}

.wrapper {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.carousel {
    composes: clearfix;

    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    transition: left .5s cubic-bezier(0, 1.12, .76, .99);
}

.cell {
    font: 16px/22px 'helvetica-neue', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

    position: relative;

    z-index: 1;

    display: list-item;
    float: left;
    overflow: hidden;

    width: 60px;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    cursor: pointer;

    transition: visibility .2s linear .5s, opacity .3s linear;

    color: $color-cell;
    background: $color-cell-bg;

    &:hover {
        background: darken($color-cell-bg, 10);
    }

    &:active {
        color: $color-white;
        background: darken($color-cell-bg, 20);
    }
}

.cell-not-visible {
    display: none;
}

.cell-active {
    composes: cell;

    color: $color-white;
    background: $color-active-cell-bg;

    &:hover {
        background: darken($color-active-cell-bg, 10);
    }

    &:active {
        background: darken($color-active-cell-bg, 20);
    }
}

.cell-active-not-visible {
    composes: cell-not-visible;
}

.control-cell {
    composes: cell clearfix;

    position: relative;

    display: block;

    width: 30px;
    margin: 0;
    padding: 0;

    color: $color-active-cell-bg;
}

.control-cell-next {
    composes: control-cell;
}

.control-cell-previous {
    composes: control-cell;

    z-index: 2;

    margin-left: 0;
}

.control-cell-inactive {
    display: none;
}

.control-cell-previous-inactive {
    composes: control-cell-inactive control-cell-previous;
}

.control-cell-next-inactive {
    composes: control-cell-inactive control-cell-next;
}

.control-icon {
    font-size: 20px;

    position: absolute;
    top: 40%;

    left: 30%;
}

.control-icon-next {
    composes: control-icon;

    left: 35%;

    &:before {
        content: '〉';
    }
}

.control-icon-previous {
    composes: control-icon;

    left: 15%;

    &:before {
        content: '〈';
    }
}
